:root {
    --border-color:rgb(0,0,0);
    --task-background:rgb(0,0,0);
}

.page-container {
    display:flex;
    flex-direction: column;
    width:90vw;
    align-items: center;
}
.todo-list {
    display:flex;
    flex-direction: column;
    border:3px solid maroon;
    border-radius: 12px;
    width:90vw;
    align-items: center;
    justify-content: center;
}
.completed-tasks {
    color:grey;
}
.task {
    display:flex;
    margin:10px;
    width:90%;
    border:3px solid maroon;
    align-items: center;
    justify-content: center;
}
.title {
    flex:1;
    font-size:16px;
    text-align: center;
}
.reps{
    flex:1;
    text-align: center;
} 
#toggle-visible {
    align-items: center;
    justify-content: center;
    text-align: center;
    height:25px;
    width:25px;
    margin-left:20px;
    margin-right:20px;
}
.description {
    flex:3;
    text-align: center;
}
#addTask {
    border:none;
}
#task-input {
    display:none;
}
#task-input.active {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#task-name,#task-desc,#time-spent {
    flex:1;
    margin:10px;
    border:2px solid maroon;
    border-radius: 8px;;
}
.task-container {
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content: space-evenly;
}

/* 
    Set up task list as a grid to align with labels for:
        - Completed / Uncompleted Button
        - Task Name
        - Task Descriptions
        - Repetitions / Time to Spend

*/